<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the DITA Open Toolkit project hosted on 
     Sourceforge.net. See the accompanying license.txt file in the
     main toolkit package for applicable licenses.-->
<!-- (C) Copyright IBM Corporation 2006 All Rights Reserved. -->
<!-- 
     This is the plugin file that controls integration into the toolkit.
     Each item in the plugin that extends a toolkit function must be listed
     here. The only critical component is the catalog file, which must 
     extend the Toolkit's catalog in order for your files to be processed.

     If nothing else is overridden, then the toolkit will use fallback processing.
     This plugin file demonstrates how to imbed an override for XHTML formatting,
     so that not every element will use fallback processing.

     Be sure to change the plugin ID to use your own specialization name, rather than
     music.

     NOTE: paths in this file are relative to the current directory
           (the same directory that includes this file).
     NOTE: this specialization was written based on DITA 1.1. It's worth noting that
           it still works with DITA 1.2 and will work with 1.3, because they are 
           both backwards compatible.
-->

<!-- UPDATES:
     Original delivery (no version #) coded to DITA-OT 1.5.4 (and DITA 1.2)
     Update 20131001: Added version/support info;
                      No issues with rebase to DITA 1.2, but have not brought DTD module up to date to get new features.
     -->

<plugin id="org.metadita.specialization.cmdref">

  <feature extension="package.support.name" value="Robert D Anderson"/>
  <feature extension="package.support.email" value="robander @ ibm dot com"/>
  <feature extension="package.version" value="1.0"/>

  <!-- Extend the toolkit catalog to include your DTDs. -->
  <feature extension="dita.specialization.catalog.relative" file="catalog-dita.xml"/>

  <!-- Extend the toolkit's XHTML processing to override XHTML output. -->
  <feature extension="dita.xsl.xhtml" file="xsl/cmd2xhtml.xsl"/>

  <!--  ************************************************************
        Any other extensions to standard toolkit files will be listed here.
        For example, to extend the RTF transform:

        <feature extension="dita.xsl.rtf" file="xsl/cmd2rtf.xsl" />

       -->

</plugin>
