<?xml version="1.0" encoding="UTF-8"?>
<!-- UPDATES:
     Original delivery (no version #) coded to DITA-OT 1.5.4
     Update 20131001: Add version 1.0 / support info
     -->
<plugin id="org.metadita.errors">

  <feature extension="package.support.name" value="Robert D Anderson"/>
  <feature extension="package.support.email" value="robander @ ibm dot com"/>
  <feature extension="package.version" value="1.0"/>

  <!-- Define new errors available to XSLT. -->
  <feature extension="dita.xsl.messages" file="myMessages.xml"/>

</plugin>
